@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";
@import "~Styles/spacing.scss";

.content {
  background-color: $color-canvas-overlay;
  border: 1px solid $color-border-default;
  padding: $spacer-module-padding;
}

.actions {
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button {
  appearance: none;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  color: $color-fg-muted;

  &[disabled] {
    opacity: .5;
  }
}

.autoplay {
  display: flex;
  align-items: center;
  gap: 2em;
}

.button.play {
  height: 32px;

  img {
    height: 100%;
  }
}

.expand {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $color-border-default;
  background: $color-canvas-overlay;
  font-size: 24px;

  @include body-bold;
}
