@import "~Styles/colors.scss";

.headshot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $color-neutral-muted;

  &.inactive {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-neutral-emphasis;
      mix-blend-mode: color;
    }
  }
}

.headshotImage {
  display: block;
  height: 100%;
}
