@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";
@import "~Styles/spacing.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  margin: $spacer-module-gap 0;
  padding: $spacer-module-padding;
  background-color: $color-canvas-overlay;
  border: 1px solid $color-border-default;
}
