@import "~Styles/colors.scss";
@import "~Styles/spacing.scss";

.container {
  background-color: $color-canvas-overlay;
  border: 1px solid $color-border-default;
}

.content {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: $spacer-module-padding;
}
