@import "~Styles/spacing.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin: $spacer-module-gap 0;
}

.lineups {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2em;

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
};
