@import "~Styles/colors.scss";

.wrapper {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background: linear-gradient(-90deg, $color-canvas-overlay, rgba(0 0 0 / 0));
  }
}

.container {
  display: flex;
  overflow-x: auto;
  padding-right: 60px;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
}

.game {
  width: 160px;
  flex-shrink: 0;
  scroll-snap-align: start;

  &.isNotLast {
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid $color-border-muted;
  }
}
