@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: center;

  @include condensed-regular;
}

.content {
  font-size: 2rem;

  @media screen and (min-width: 760px) {
    font-size: 3.2rem;
  }
}

.score {
  @include condensed-bold;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
