@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: center;

  @include condensed-regular;
}

.content {
  font-size: 3.2rem;
}

.score {
  @include condensed-bold;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusIndicator {
  &.ongoing {
    margin-left: 0.5em;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-live-indicator;
  }
}
