@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";

.container {
  background-color: $color-canvas-overlay;
  margin-bottom: 1em;
  color: $color-fg-muted;

  @include condensed-bold;
}

.content {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 2em;
  align-items: center;

  @media screen and (min-width: 760px) {
    grid-template-columns: 80px 1fr;
    gap: 4em;
  }
}

.brand {
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 1em 0;
}

.logo {
  display: block;
}
