@import "~Styles/spacing.scss";

.container {
  margin: $spacer-module-gap auto;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1em;
  margin: $internal-spacer 0;
}

.placeholder {
}
