@import "~Styles/fonts.scss";
@import "~Styles/colors.scss";
@import "~Styles/spacing.scss";
@import "~Styles/breakpoints.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  border-bottom: 1px solid $color-border-default;

  @include condensed-regular;
}

.title {
  font-size: 1.2em;
}

.date {
  @include condensed-bold;
}

.desktop {
  display: none;

  @include is-desktop {
    display: initial;
  }
}

.mobile {
  display: initial;

  @include is-desktop {
    display: none;
  }
}
