@import "~Styles/fonts.scss";
@import "~Styles/colors.scss";
@import "~Styles/spacing.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  border-bottom: 1px solid $color-border-default;

  @include condensed-bold;
}

.title {
  font-size: 1.2em;
}
