@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";
@import "~Styles/breakpoints.scss";

.topline {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
}

.name {
  font-size: 1.2em;

  @include body-bold;

  .jersey {
    color: $color-fg-muted;

    @include condensed-bold;
  }

  .fullName {
    display: none;
  }

  .shortName {
    display: initial;
  }

  @include is-desktop {
    .fullName {
      display: initial;
    }

    .shortName {
      display: none;
    }
  }
}

.minutes {
  color: $color-fg-muted;

  @include condensed-regular;

  .plusminus {
    margin-left: 0.4em;

    @include condensed-bold;

    &.positive {
      color: $color-success-fg;
    }

    &.negative {
      color: $color-danger-fg;
    }
  }
}
