@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: $color-canvas-overlay;
  padding: 1em;

  @include condensed-regular;

  &.condensed {
    font-size: 0.8em;
  }

  &.border {
    border: 1px solid $color-border-default;
  }
}
