@import "~Styles/colors.scss";
@import "~Styles/breakpoints.scss";

.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 1em;
}

.bonus {
  color: $color-danger-fg;
  text-transform: uppercase;
}

.labelLong {
  display: none;

  @include is-desktop {
    display: initial;
  }
}

.labelShort {
  display: initial;

  @include is-desktop {
    display: none;
  }
}
