@import "~Styles/colors.scss";

.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 1em;
}

.bonus {
  color: $color-danger-fg;
  text-transform: uppercase;
}

.labelLong {
  display: none;
}

.labelShort {
  display: initial;
}

@media screen and (min-width: 760px) {
  .labelLong {
    display: initial;
  }

  .labelShort {
    display: none;
  }
}
