.container {
  display: grid;
  grid-template-columns: max-content 100px 1fr 1fr;
  column-gap: 3em;
  row-gap: 1em;
  align-items: center;
  margin: 0 auto;
}

.canvasContainer {
  display: flex;
  gap: 1em;
}

.swatch {
  height: 4em;
  flex-grow: 1;
}
