@import "~Styles/colors.scss";
@import "~Styles/fonts.scss";
@import "~Styles/spacing.scss";

.container {
  margin: $spacer-module-gap 0;

  @include condensed-regular;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  gap: 1em;
  grid-template-areas: "away-team-name score score home-team-name"
                       "away-team-stats away-team-stats home-team-stats home-team-stats";

  @media screen and (min-width: 760px) {
    grid-template-areas: "away-team-name score home-team-name"
                         "away-team-stats score home-team-stats";
  }
}

.awayTeamName {
  grid-area: away-team-name;
}

.awayTeamStats {
  grid-area: away-team-stats;
}

.homeTeamName {
  grid-area: home-team-name;
}

.homeTeamStats {
  grid-area: home-team-stats;
}

.score {
  grid-area: score;
}
